@media (max-width: 850px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input-box {
        width: 100%;
    }

        .container h1 {
            font-size: 40px;
        }

        .calculator {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
        }
        .containerFunFacts {
            margin-left: 0;
        }
}